<footer>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<a href="#/"><i class="fa fa-home fa-2x"></i></a>	
				&nbsp;
				&nbsp;
				<a href="#/send-post"><i class="fa fa-camera fa-2x"></i></a>
			</div>
		</div>
	</div>
</footer>