<div class="container">
	<div class="post">
		<div class="row post-title">
			<div class="col-xs-6">
				<h5><strong>Pedro Patron</strong></h5>
			</div>
			<div class="col-xs-6 text-right">
				<h5><strong>56 minutos</strong></h5>
			</div>
		</div>
		<div class="row post-image">
			<div class="col-md-12 text-center">
				<img src="image/instagram-logo.jpg" class="img-responsive" alt="">
			</div>
		</div>
		<div class="row post-info">
			<div class="col-md-12 user-like">
				<a href=""><i class="fa fa-thumbs-o-up"></i>&nbsp;<span>42</span></a>
				&nbsp;
				&nbsp;
				<a href=""><i class="fa fa-thumbs-o-down"></i>&nbsp;<span>42</span></a>
			</div>
			<div class="col-xs-12 user-name">
				<p class="wordwrap"><strong>Ryodam11</strong>&nbsp;jakdjfalñksdj faksdjflaksdjf aksdfjklasd jfjasdkfj aksdjfalñk sdfjasñdk fajlskdf aksldjf aklsd fjañlskdfjñlaksdjñfalkajkld fasdkjf aklsdjf ñalksdjfa ksdfjañ sdkfjañ sdfja ñsldfk</p>
			</div>
		</div>
	</div>
</div>