<section class="main">
	<div class="container">
		<div class="post" ng-repeat="post in posts">
			<div class="row post-title">
				<div class="col-xs-6">
					<h5><strong>{{post.post.name}}</strong></h5>
				</div>
				<div class="col-xs-6 text-right">
					<h5><strong>{{post.post.created_at}}</strong></h5>
				</div>
			</div>
			<div class="row post-image">
				<div class="col-md-12 text-center">
					<img src="{{post.post.image}}" class="img-responsive" alt="">
				</div>
			</div>
			<div class="row post-info">
				<div class="col-md-12 user-like">
					<a href="" ng-click="addLike(post.post.id)"><i class="fa fa-thumbs-o-up"></i></a>&nbsp;<span>{{post.post.like}}</span>
					&nbsp;
					&nbsp;
					<a href="" ng-click="addNoLike(post.post.id)"><i class="fa fa-thumbs-o-down"></i></a>&nbsp;<span>{{post.post.nolike}}</span>
				</div>
				<br>
				<div class="col-xs-12">
					<p class="wordwrap"><strong>Description: </strong>   {{post.post.description}}</p>
				</div>
				<div class="col-xs-12">
					<button class="btn btn-primary button-collapsible" type="button" data-toggle="collapse" data-target="#commentscollapse{{$index}}" aria-expanded="false" aria-controls="commentscollapse">Comments  <span class="badge">{{post.comments.length}}</span></button>
					<div class="collapse" id="commentscollapse{{$index}}">
						<div class="well">
							<div class="user-name" ng-repeat="comment in post.comments">
								<p class="wordwrap"><strong>{{comment.name}}</strong>   {{comment.comment}}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 add-comment">
					<form action="" name="add_comment">
						<textarea name="post_comment" id="post_comment" rows="4" placeholder="Add comment..." ng-model="post.newcomment"></textarea>
					</form>
					<button class="btn btn-default" ng-click="addComment(post.post.id, post.newcomment)">Add Comment <i class="fa fa-commenting-o"></i></button>
				</div>
			</div>
		</div>
	</div>
</section>