<section class="main">
	<div class="container post-zone">
		<div class="row">
			<div class="col-md-12">
				<form action="" class="dropzone" dropzone id="dropzone" enctype="multipart/form-data">
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<div class="dz-default dz-message text-center">
								<h4><strong>Click to select file</strong> <i class="fa fa-cloud-upload"></i></h4>
							</div>
						</div>
						<div class="col-md-2"></div>
						</div>
					<div class="row">
						<div class="col-xs-12 text-center">
							<div id="image-previews">
								
							</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-xs-2"></div>
						<div class="col-xs-8 text-center">
							<textarea ng-model="description" name="post-comment" rows="4" placeholder="Description..."></textarea>
						</div>
						<div class="col-xs-2"></div>
					</div>
				<form>
			</div>
			<div class="col-md-12 text-center">
				<button class="btn btn-success" ng-click="uploadFile()">Upload File</button>
			</div>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<div class="alert alert-info text-center" ng-show="success">
						Your post has been saved!.
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</div>
</section>