footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

footer .container .row {
	background-color: #2C3E50;
	color: white;
}

footer .container .row a i{
	margin-top: 3px;
}

.alert {
    padding: 5px 0;
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn:focus, .btn:active {
    outline: none;
}

.container{
	max-width: 700px;
}

.button-collapsible{
    margin-bottom: 10px;
}

.dropzone{
	border: 0;
    padding: 0; 
}

.dropzone .dz-preview {
	margin: 0;
}

.dropzone .dz-preview .dz-image {
	border-radius: 5px;
    border: 1px solid #F3F3F3;
}

.dropzone .dz-preview.dz-file-preview .dz-image {
    border-radius: 5px; 
}

.dropzone .dz-preview:not(.dz-processing) .dz-progress {
    -webkit-animation: not;
    -moz-animation: not;
    -ms-animation: not;
    -o-animation: not;
    animation: not;
}

.dropzone .dz-preview .dz-progress {
    border-radius: 2px;
}

.dropzone .dz-message {
    margin: 0;
}

.dropzone .dz-message h4{
    margin: 20px 0;
}

.image-info{
	height: 140px;
}

.login-panel{
    margin-top: 40px;
}

.login-panel img{
    margin: auto;
}

.navbar {
    border-radius: 0px;
}

.navbar .navbar-header .navbar-brand{
	font-family: 'Lobster', cursive;
}

.main{
	margin-top: 70px;
	margin-bottom: 60px;
}

.post{
	margin-bottom: 20px;
}

/*.post-zone .btn{
    padding: 0px 10px;
}
*/
.post-zone .dropzone textarea{
	border: 1px solid #CCCCCC;
	margin: auto;
	outline: none;
	resize: none;
    width: 100%;
}

.post .post-info{
	border-bottom: 1px solid #F3F3F3;
	border-left: 1px solid #F3F3F3;
	border-right: 1px solid #F3F3F3;
}

.post .post-info .add-comment textarea{
    border: 1px solid #CCCCCC;
    outline: none;
    resize: none;
    width: 100%;
}

.post .post-info .add-comment {
    margin-bottom: 10px;
}

.post .post-info .user-like{
	margin-top: 15px;
    margin-bottom: 15px;
}

.post .post-image{
	border: 1px solid #F3F3F3;
}

.post .post-image img{
	margin: auto;
}

.post .post-title{
	border-left: 1px solid #F3F3F3;
	border-right: 1px solid #F3F3F3;
	border-top: 1px solid #F3F3F3;
}

.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.slide.ng-enter {
    left: 100%;
}
.slide.ng-enter-active {
    left: 0;
}
.slide.ng-leave {
    left: 0;
}
.slide.ng-leave-active {
    left: -100%;
}

.wordwrap {  
   white-space: pre-wrap;      /* Webkit */    
   white-space: -moz-pre-wrap; /* Firefox */     
   white-space: -pre-wrap;     /* Opera <7 */    
   white-space: -o-pre-wrap;   /* Opera 7 */     
   word-wrap: break-word;      /* IE */ 
}